.main_post p:first-of-type > img {
  max-height: 35rem;
  width: 100% !important;
  object-fit: cover;
  object-position: center;
  border-radius: 0.5rem;
  margin: 1.5rem auto;

}

.main_post h1 {
  font-size: 2rem;
  font-weight: 600;
  margin: 1rem 0;
  color: #334155;
  text-align: center;
}

.main_post ul:first-of-type {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.3rem;
  color: #606F7B;
  list-style-type: none;
  padding: 0;
  width: fit-content;
  margin: 0 auto;
  text-align: center;
}

.main_post ul:nth-of-type(2) {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin: 0 auto 2rem auto;
  gap: 1rem;
  list-style: none;
}

.main_post ul:nth-of-type(2) > li {
  background-color: whitesmoke;
  border-radius: 0.35rem;
  color: #161c24;
  border: 1px solid #272a36;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}


.main_post ul:nth-of-type(2) > li > a {
  display: block;
  padding: 0.5rem 1rem;
  color: #334155;
  text-decoration: none;
}

.main_post ul:nth-of-type(2) > li:hover {
  background-color: #20232e;
  border: 1px solid #334155;
  scale: 1.1;
}

.main_post ul:nth-of-type(2) > li:active {
  scale: 0.9;
}

.main_post ul:nth-of-type(2) > li:hover > a {
  color: #fafafa;
}

.main_post h5 {
  font-size: 1rem;
  margin: 1rem 0;
  color: #1a212b;
  text-align: center;
}

.main_post ul:first-of-type li:nth-child(1)::before {
  content: 'Autor: '
}

.main_post ul {
  list-style-type: disc;
  padding: 0 0 0 2rem;
}

.main_post h2 {
  font-size: 1.3rem;
  font-weight: 600;
  margin: 1rem 0;
  color: #1a212b;
}

.main_post h3 {
  font-size: 1.1rem;
  font-weight: 600;
  margin: 1rem 0;
  color: #1a212b;
}

.main_post h4 {
  font-size: 1rem;
  font-weight: 600;
  margin: 1rem 0;
  color: #1a212b;
}

.main_post ul:last-of-type {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1;
  gap: 1rem
}

.main_post ul:last-of-type li {
  height: fit-content !important;
  padding: 0;
  margin: 0;
}

.main_post ul:last-of-type li > img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  border-radius: 0.5rem;
  margin: 0;
}

.main_post p > a {
  color: #22990b;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  word-break: break-word;
}

.main_post p > a:hover {
  color: #1a212b;
}

.main_post p > a:visited {
  color: #be12b6;
}

@media only screen and (min-width: 768px) {
  
  
  
  .main_post p:not(:first-of-type) > img{
    max-width: 70%;
    height: auto;
    object-fit: cover;
    object-position: center;
    border-radius: 0.5rem;
    margin: 1.5rem auto;
  }

  .main_post ul:nth-of-type(2) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .main_post ul:nth-of-type(2) > li {
    font-size: 1.125rem;
  }

  .main_post ul:last-of-type {
    grid-template-columns: repeat(2, 1fr);
  }

}